body {
	background: #f9e933;
	font-size: 100%;
}
header, main, footer {
	font-family: 'Roboto', sans-serif;
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
header {
	background: white;
	overflow: auto;
}
header h1 {
	font-family: 'Ubuntu', sans-serif;
	float: left;
	width: 570px;
	font-size: 2.8em;
}
header nav {
	float: right;
	width: 285px;
}
main {
	background: white;
	overflow: auto;
}
main h2 {
	font-family: 'Ubuntu', sans-serif;
	float: left;
	width: 570px;
	font-size: 1.8em;
}
main p {
	float: left;
	width: 570px;
}
main h3 {
	font-family: 'Ubuntu', sans-serif;
	float: left;
	width: 570px;
	font-size: 1.3em;
}
main ul {
	float: left;
	width: 570px;
}
main img {
	float: right;
	width: 285px;
}
footer .contact{
	float: left;
	width: 570px;
}
footer .sitemap {
	float: right;
	width: 285px;
}
h4 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
}
h5 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
}
a {
	color: tomato;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}